*{
    margin: 0px;
    padding: 0px;
}


#pagina2{
    display: none;
    
}

body{
    background-image: url("images/hary\ potter\ fondo\ batalla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.textoBienvenidos{
    font-size: 5vw;
    color: white;
    position: relative;
    text-align: center;
    font-family: 'UnifrakturMaguntia', cursive;
}

.imagenBienvenida{
    width: 50%;
    height: auto;
    margin: auto;
    float:center;
    max-width: 100%;
      

}