
*{
    margin: 0px;

}


#pagina2{
    display: none;
}

.pagina1{
    background-image: url("images/hary\ potter\ fondo\ batalla.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: flex;
    display: flex;
    flex-direction: column;
    align-items: center;    
    
}
.pagina1:before{
    background-image: url("images/fondo\ estrellas\ full\ hd.jpg");
    background-size: cover;
    background-position: center center;
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: .5;
}

.pagina1 img, p, input{
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}



.conocemas{
    position: absolute;
    bottom: 10%;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    padding: 5px;
    background: transparent;
    font-family: 'Josefin Sans', sans-serif;
    width: 130px;
    height: 30px;
}

.conocemas:hover{
    border-color:white;
    color: black;
    background: white;
}


.reseña{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    width:50%;
    font-size: 90%;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 20%;
    margin: 2px;
    padding: 20px;
}

.nav {
    text-align: center;
    margin: auto;
    background-color: #333;
}

.filtrados{
    text-align: center;
    padding: 10px;
    
}

.casas{
    background-color: transparent;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 3px;
    margin: 5px;
}

.casas:hover{
    color: black;
    background: rgb(3, 67, 119);
}

.personajes{
    background-color: #333;
    width: 2000px;
    height: 700px;
    
}